h3 {
    color:white;
}

.container {
    background-image: url(../bg.jpg);
    padding: 2%;
}

#query {
    width:50%;
    margin: 0 auto;
}

#input {
    padding: 3%;
    height: 3%;
    width:100%;
    font-size: 1.1em;
}

.control-group {
    width: 100%;
    background-color: white;
}

#input-tags {
    position:relative;
    line-height: 2.3em;
    border: none;
}

.s-button{
    position: relative;
    float:right;
}
