h2 {
    color:white;
}

#query {
    width:50%;
    margin: 8%;
}

#input {
    padding: 3%;
    height: 3%;
    width:100%;
    font-size: 1.1em;
}

.container {
    background-image: url(bg.jpg);
}